.hero-background {
  position: relative;
  overflow: hidden;
  color: #fff;
}

#heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

  transform: translate(-50%, -50%);
  z-index: -1;
}
.hero-background{
  height: 2000px;
  max-height: 99vh;

  h1 {
    mix-blend-mode: overlay !important;

    color: #fff !important;
  }
}
.hero-background h1{


}
.hero-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background: rgba(0, 0, 0, 0.5); /* Overlay color */
  z-index: 0;

}

.text-center {
  position: relative;
  z-index: 1;
}

.animated-cta {
  animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.feature-icon {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}
.testimonials, .video-overview {
  padding: 50px 0;
}

.testimonials blockquote {
  quotes: none;
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 5px solid #eee;
}

.video-overview h2 {
  margin-bottom: 20px;
}
